<!DOCTYPE html>
<html>
<head>
    <title>Slebee - 啊咧</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <style>
        .wrap{
            text-align: center;
            margin-top:100px;
        }
    </style>
</head>
<body>
<div class="wrap">
    <img src="/images/404.gif" />
    <p>404了，好像找不到这个页面...?</p>
</div>
</body>
</html>