<!DOCTYPE html>
<html>
<head lang="CN">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>Slebee</title>

  <link href="//cdn.bootcss.com/animate.css/3.4.0/animate.min.css" rel="stylesheet">
  <link href="/blog/styles/slebee.css" rel="stylesheet">
</head>
<body>
<header class="jumbotron rubberBand animated">
  <div class="container text-center">
    <div class="avatar"></div>
    <h1 class="hello">SLEBEE</h1>
    <p class="introduction">欢迎来到我的博客</p>
  </div>
</header>
<!-- row start -->
<div class="container main slideInLeft animated">
    <div class="h-wrap">
      <div class="line"></div>
      <h1 class="text-left list-h1">Article</h1>
    </div>
    <div class="article-list-wrap">
      <div class="row article-list-item">
        <h3><a >aa</a> <span class="comment-count pull-right"><span class = "cy_cmt_count" >1</span></span></h3>
        <p class="content">sss</p>
        <p class="parm"><small class="pull-left">Created By </small><small class="pull-right" >2015</small></p>
      </div>
      <div class="row">
        <div class="load-more">Load More</div>
      </div>
    </div>
</div>

</body>
</html>