<!DOCTYPE html>
<html>
<head lang="CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%=title%></title>
    <link href="/blog/styles/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.4.0/animate.min.css" rel="stylesheet">
    <link href="/blog/styles/slebee.css" rel="stylesheet">
    <link href="/blog/styles/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="article-detail-box">
    <div class="part-nav-wrap">
        <div class="main-nav-avatar">
            <img src="/images/avatar.jpg" />
        </div>
        <p class="dir-p name">
            Slebee
        </p>
        <p class="dir-p text-center">
            welcome to my blog.
        </p>
        <ul class="main-nav">
            <li class="active"><i class="icon icon-home"></i><a href="http://localhost:3000">主页</a></li>
            <li><i class="icon icon-file"></i><a href="http://localhost:3000">文章</a></li>
            <li><i class="icon icon-comment"></i><a href="http://localhost:3000">关于</a></li>
        </ul>
        <ul class="contact-ul">
            <li><i class="icon icon-envelope"></i>365456507@qq.com</li>
        </ul>
    </div>
    <div class="part-article">
        <div class="article-list-wrap" id="listWrap">
            <p style="font-size:12px"><i class="icon icon-spinner icon-spin"></i>  Loading</p>
        </div>
    </div>
</div>
</body>
<script src="/blog/js/common.js"></script>
<script src="/blog/js/index.js"></script>
</html>