<!DOCTYPE html>
<html>
<head lang="CN">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>Slebee</title>
  <link href="//cdn.bootcss.com/animate.css/3.4.0/animate.min.css" rel="stylesheet">
  <link href="/blog/styles/slebee.css" rel="stylesheet">
</head>
<body ng-controller="mainController" ng-class="{true:'no-scroll',false:''}[data.lightBoxShow]">
<header class="jumbotron rubberBand animated">
  <div class="container text-center">
    <div class="avatar"></div>
    <h1 class="hello">SLEBEE</h1>
    <p class="introduction">Welcome to my Blog</p>
  </div>
</header>
<!-- row start -->
<div class="container main">
    <div class="h-wrap">
      <div class="line"></div>
      <h1 class="text-left list-h1">Article</h1>
    </div>
    <div class="article-list-wrap" ng-controller="ArticlesController" data-ng-init="find();times=0.1">
      <div class="row article-list-item sSlideInUp animated" data-ng-repeat="article in articles" style="animation-delay:{{$index*times}}s;">
        <h3><a data-ng-bind="article.title" href="#!/articles/{{article._id}}" ng-click="setUrl(article._id);commonServices.showLightBox()"></a> <span class="comment-count pull-right"><span id = "sourceId::{{article._id}}" class = "cy_cmt_count" ></span></span></h3>
        <p class="content" data-ng-bind="article.summary"></p>
        <p class="parm"><small class="pull-left">Created By {{article.creator.fullName}}</small><small class="pull-right" data-ng-bind="article.created | date:'medium'"></small></p>
      </div>
      <div class="row">
        <div class="load-more">Load More</div>
      </div>
    </div>
</div>
<!-- row end -->

<!-- article start -->
<section class="article-detail-wrap view-animate"  ng-view=""></section>
<!-- article end -->

<!-- lightbox start -->
<light-box></light-box>
<!-- lightbox end -->
</body>




<script src="/lib/jquery-2.1.4.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/angular-animate/angular-animate.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/blog/articles/blog.article.client.module.js"></script>
<script src="/blog/articles/directives/comment.client.directive.js"></script>
<script src="/blog/articles/services/blog.articles.client.service.js"></script>
<script src="/blog/articles/controllers/blog.articles.client.controller.js"></script>
<script src="/blog/articles/config/blog.articles.client.routes.js"></script>

<script src="/blog/blog.application.js"></script>
<script src="/blog/blog.common.services.js"></script>
<script src="/blog/blog.common.directives.js"></script>
<script src="/blog/blog.common.controllers.js"></script>
</html>