<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Slebee-login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="faltUi/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="faltUi/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="faltUi/js/vendor/html5shiv.js"></script>
    <script src="faltUi/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="login">
    <div class="login-screen">
        <div class="login-icon">
            <img src="faltUi/img/login/icon.png" alt="Welcome to Mail App">
            <h4>Welcome  <small></small></h4>
        </div>
        <form action="/signin" method="post">
            <div class="login-form" style="overflow: hidden;">
                <div class="form-group">
                    <input type="text" class="form-control login-field" value="" placeholder="Enter your name" name="username" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control login-field" value="" placeholder="Password" name="password" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log in"/>
                <a class="login-link pull-left" href="#">Lost your password?</a>
                <a class="login-link pull-right" href="/signup">Register</a>
                <% for(var i in messages) { %>
                <div class="flash pull-left"><%= messages[i] %></div>
                <% } %>
            </div>
        </form>
    </div>
</div>
</body>
</html>